{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<h1>ERROR</h1>
{% endif %}
<table class="table table-striped table-hover text-center">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Employee</th>
      <th>Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for l in leaves %}
    <tr>
      <td>{{l.start_date|date:"Y-m-d"}}</td>
      <td>{{l.end_date|date:"Y-m-d"}}</td>
      <td>{{l.employee.last_name|add:" "|add:l.employee.first_name}}</td>
      <td>{{l.get_type_display}}</td>
      <td>{{l.get_status_display}}</td>
      <td>
        {% if l.status == 'PD' %}
        <a href="{% url 'leave_records:update_leave' l.serial_no %}" class="btn btn-info" role="button">Amend Status</a>
        {% else %}
        <a href="{% url 'leave_records:update_leave' l.serial_no %}" class="btn btn-success" role="button">Check Details</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'leave_records:create_leave' %}" class="btn btn-primary" role="button">Add New Leave</a>
{% endblock %}