{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Pay Period
        <a href="?order_by=period_start" class="fas fa-caret-up"></a>
        <a href="?order_by=-period_start" class="fas fa-caret-down"></a>
      </th>
      <th>
        Employee
        <a href="?order_by=employee" class="fas fa-caret-up"></a>
        <a href="?order_by=-employee" class="fas fa-caret-down"></a>
      </th>
      <th>
        Pay Method
        <a href="?order_by=method" class="fas fa-caret-up"></a>
        <a href="?order_by=-method" class="fas fa-caret-down"></a>
      </th>
      <th>
        Pay Amount ($)
        <a href="?order_by=net_pay" class="fas fa-caret-up"></a>
        <a href="?order_by=-net_pay" class="fas fa-caret-down"></a>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for p in payments %}
    <tr>
      <td>{{p.period_start|date:"d/m/Y"}} - {{p.period_end|date:"d/m/Y"}}</td>
      <td>{{p.employee.last_name|add:" "|add:p.employee.first_name}}</td>
      <td>{{p.method}}</td>
      <td>{{p.net_pay}}</td>
      <td><a href="{% url 'payroll:detail_payment' p.pk %}" class="btn btn-success" role="button">View Payment</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="footer">
  {% include "pagination.html" %}
  <a href="{% url 'payroll:create_payment' %}" class="btn btn-primary" role="button">Add New Payment</a>
</div>
{% endblock %}