#logo {
  height: 40px;
  width: 50px;
}

.nav-link{
  font-size: 1.25em;
}

.table {
  table-layout: fixed;
}

.table td{
  padding: 0 0 0 .75rem;
  vertical-align: middle;
}

.table th{
   padding: .75rem;
   vertical-align: middle;
}

.footer {
  position: static;
  vertical-align: middle;
}

body {
  /* overflow-y:hidden; */
}

.card-body {
  padding: 0.5em;
}

.card-filter {
  background-color: #eff0f1;
}

.alert-block{
  margin: .25rem 0;
  padding: .5rem 0 0 0;
}
