#logo {
  height: 40px;
  width: 50px;
}

.nav-link{
  font-size: 1.25em;
}

.table {
  table-layout: fixed;
}

.table tr{
   height: 10px;
}

.table td{
   padding: 0  0  0 .75rem;
   vertical-align: middle;
}

.footer {
  position: static;
  vertical-align: middle;
}

body {
  overflow-y:hidden;
}

.card-body {
  padding: 0.75em;
}

.card {
  background-color: #eff0f1;
}
