<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

{% if error_message %}
  <p><strong>{{error_message}}</strong></p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
  {% for field in form %}
    {% if field.label == 'Salary' %}
      {% bootstrap_field field layout='horizontal' addon_before='$' %}
    {% else %}
      {% bootstrap_field field layout='horizontal' %}
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-outline-primary">Add</button>
  <a href="{% url 'personal_details:index' %}" class="btn btn-outline-secondary" role="button">Back</a>
</form>
{% endblock %}
