{% extends "form.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block javascript %}
<script src="{% static 'js/ajax_employee.js' %}"></script>
<script src="{% static 'js/form_employee.js' %}"></script>
<script src="{% static 'js/formset.js' %}"></script>
<script type="text/javascript">
  $('.academic-record-formset').formset({
    addText: 'Add New',
    addCssClass: 'fas fa-plus-circle text-success text-center add-er-btn pt-3',
    deleteText: '',
    deleteCssClass: 'minus-ar-btn',
    prefix: '{{ ARFormset.prefix }}',
    formCssClass: 'academic-record-formset',
  })
  $('.employment-history-formset').formset({
    addText: 'Add New',
    addCssClass: 'fas fa-plus-circle text-success text-center add-er-btn pt-3',
    deleteText: '',
    deleteCssClass: 'minus-eh-btn',
    prefix: '{{ EHFormset.prefix }}',
    formCssClass: 'employment-history-formset',
  })
</script>
{% endblock %}