<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Employee ID
        <a href="?order_by=staff_no" class="fas fa-caret-up"></a>
        <a href="?order_by=-staff_no" class="fas fa-caret-down"></a>
      </th>
      <th>
        Name
        <a href="?order_by=last_name" class="fas fa-caret-up"></a>
        <a href="?order_by=-last_name" class="fas fa-caret-down"></a>
      </th>
      <th>
        Date Joined
        <a href="?order_by=join_date" class="fas fa-caret-up"></a>
        <a href="?order_by=-join_date" class="fas fa-caret-down"></a>
      </th>
      <th>Action</th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>
    {% for e in employees %}
    <tr>
      <td>{{e.staff_no}}</td>
      <td>{{e.last_name|add:" "|add:e.first_name}}</td>
      <td>{{e.join_date|date:"d/m/Y"}}</td>
      <td>
        <a href="{% url 'personal_details:update_staff' e.staff_no %}" class="btn btn-info" role="button">Edit Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="footer">
  {% include "pagination.html" %}
  <a href="{% url 'personal_details:create_staff' %}" class="btn btn-primary" role="button">Add New Staff</a>
</div>
{% endblock %}